<section class='scaffold'>
  <h2 class="breadcrumbs">Users</h2>
  
  <div>
    <%= form_for users_path, :html => { :style => 'background-color:transparent; padding: 0; border:0; box-shadow: none;', :method => 'get'} do %>
      <p>
        <%= text_field_tag :search, params[:search], class: "input_search_form", placeholder: "Enter username or Email to search User" %>
        <%= submit_tag "Search", :name => nil, class: "defaultButton" %>
      </p>
    <% end %>
  </div>

  <table class="scaffoldListTable">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.username, user %></td>
          <td><%= link_to user.email, user %></td>
          <% if current_user.id == user.id %>
            <td><%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_user_path(user), title: "Edit User" %></td>
            <td><%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, user, method: :delete, data: { confirm: "Are you sure you want to delete #{user.username}?" }, title: "Delete User" %></td>
            <td></td>
          <% else %>
            <td></td>
            <td></td>
            <td><%= render 'follow_unfollow.html', user: user %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>

  </table>
  <%= will_paginate @posts, class: "apple_pagination" %>

</section>