<section class='scaffold'>
  <h2 class="breadcrumbs">
    <%= link_to "Users", users_path %>
    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
    <%= @user.username %>
  </h2>

  <table class="scaffoldDataTable">
    <tbody>
      <tr>
        <th></th>

        <th>Username</th>

        <th>Email</th>

        <th>Created</th>

        <th>Last Updated</th>

        <th></th>
      </tr>

      <tr>
        <td><%= render "users/avatar", user: @user, small: true%></td>

        <td><%= @user.username %></td>

        <td><%= @user.email %></td>

        <td><%= @user.created_at.strftime("%H:%M:%S %A %d %B %Y") %></td>

        <td><%= @user.updated_at.strftime("%H:%M:%S %A %d %B %Y") %></td>

        <td><%= render 'follow_unfollow', user: @user %></td>
      </tr>
    </tbody>
  </table>
  
  <p>
    <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>Edit User'.html_safe, edit_user_path(@user), class: "defaultButton" if @current_user.id == @user.id%>
  </p>
</section>

<% if @current_user.following?(@user)%>
  <section class='scaffold'>
    <h2 class="breadcrumbs">
      <%= @user.username.capitalize %> Posts
    </h2>
    
    <%= render 'posts/posts_layout', posts: @user.posts.paginate(page: params[:page], per_page: 5) %>
  </section>
<% end %>