<section class='scaffold'>
  <h2 class="breadcrumbs">
    <%= link_to "Post", posts_path %>
    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
    <%= @post.id %>
  </h2>
  
  <div class="posts-layout">
    <div class="post-card">
      <img class="image" src="<%= @post.photo if @post.photo.present? %>">
      
      <div class="title">
        <em>Created By:</em>
        <strong><%= @post.user.username %></strong>
        <i><%= time_ago_in_words(@post.created_at)%> ago</i>
      </div>
      
      <div class="body-trunc">
        <p><%= @post.description %></p>
      </div>
      
      <div class="post-footer">
        <p style="text-align: center;">
          <% if @current_user.id == @post.user.id %>
            <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_post_path(@post), class: "defaultButton" %>
            <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'destroyButton' %>
          <% end %>
        </p>
      </div>
    </div>
  </div>

</section>