<ul class="nav">
  <li style="width: 80%; display: inline-block;">
    <%= link_to '<i class="fa fa-group" aria-hidden="true"></i>Following'.html_safe, following_user_path(@current_user) , class: "" %>
  </li>
  <p class="following_count"><%= @current_user.following.count %></p>

  <li style="width: 80%; display: inline-block;">
    <%= link_to '<i class="fa fa-users" aria-hidden="true"></i>Followers'.html_safe, followers_user_path(@current_user) %>
  </li>
  <p class="followers_count"><%= @current_user.followers.count %></p>
  
  <li>
    <%= link_to '<i class="fa fa-rss" aria-hidden="true"></i>Posts'.html_safe, "#" , class: "" %>
  </li>
  
  <li>
    <%= link_to '<i class="fa fa-cog fa-spin" aria-hidden="true"></i>All Users'.html_safe, users_path , class: "" %>
  </li>

  <li class='border'></li>

  <li>
    <%= link_to '<i class="fa fa-sign-out" aria-hidden="true"></i>Logout'.html_safe, logout_path, method: :delete, class: "defaultButton" %>
  </li>
</ul>
