<ul class="nav">
  <li>
    <%= link_to '<i class="fa fa-group" aria-hidden="true"></i>Following'.html_safe, "#" , class: "" %>
  </li>

  <li>
    <%= link_to '<i class="fa fa-users" aria-hidden="true"></i>Followers'.html_safe, "#" , class: "" %>
  </li>
  
  <li>
    <%= link_to '<i class="fa fa-rss" aria-hidden="true"></i>Posts'.html_safe, "#" , class: "" %>
  </li>
  
  <li>
    <%= link_to '<i class="fa fa-cog fa-spin" aria-hidden="true"></i>All Users'.html_safe, users_path , class: "" %>
  </li>

  <li class='border'></li>

  <li>
    <%= link_to '<i class="fa fa-sign-out" aria-hidden="true"></i>Logout'.html_safe, logout_path, method: :delete, class: "defaultButton" %>
  </li>
</ul>
