<ul class="nav">
  <li>
    <%= link_to '<i class="fa fa-group" aria-hidden="true"></i>Landlords'.html_safe, "#" , class: "" %>
  </li>

  <li>
    <%= link_to '<i class="fa fa-building" aria-hidden="true"></i>Properties'.html_safe, "#" , class: "" %>
  </li>
  
  <li>
    <%= link_to '<i class="fa fa-users" aria-hidden="true"></i>Tenants'.html_safe, "#" , class: "" %>
  </li>
  
  <li>
    <%= link_to '<i class="fa fa-calendar" aria-hidden="true"></i>Tenancy Rent Records'.html_safe, "#" , class: "" %>
  </li>

  <li class='border'></li>

  <li>
    <%= link_to '<i class="fa fa-cog fa-spin" aria-hidden="true"></i>Users'.html_safe, "#" , class: "" %>
  </li>
</ul>
